:root {
    --color-primary: #0046FF;
    --color-secondary: #0F1121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

body {
    background: var(--color-secondary);
    color: #fff;

    font-family: 'Montserrat', sans-serif;
}

#logo {
    font-size: 32px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 6rem 8rem;
}

.menuContainer-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer-items li:not(:last-child) {
    margin-right: 5rem;
}

.hoverLink {
    position: relative;
}

.dropdown-content {
    width: 163px;
    height: 193px;

    background: var(--color-primary);
    border-radius: 11px;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: -38px;
    top: 20px;

    visibility: hidden;
    opacity: 0;

    transition: all 0.2s ease-in-out;
}
.dropdown-content li {
    margin-right: 0 !important
}

ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.btn {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
}

.signUp-btn {
    background: var(--color-primary);
    border-radius: 11px;
    padding: 18px 25px;
    margin-left: 1rem;

    transform: translateY(0);
    transition: all .2s ease-in-out;
}
.signUp-btn:hover {
    transform: translateY(-2px);
}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 1000px) {
    .menuContainer-items {
        display: none;
    }

    nav {
        margin: 2rem 3rem;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        font-size: 26px;
    }
    
    .logIn-btn {
        display: none;
    }

    nav {
        margin: 1rem 2rem;
    }
}